/bin
/out
/run/*
/build
/eclipse
/.gradle
*.iml
*.ipr
*.iws
.vscode
/.metadata
/.settings
/classpath
/dep

TechReborn.iws
TechReborn.ipr
Thumbs.db
changelog.txt
*.log
*.launch
*.project
*.classpath
.idea/*
/logs/
/classes/
/src/main/resources/package-lock.json
/src/main/generated

/RebornCore/.gradle
/RebornCore/build
/RebornCore/bin