/bin
/out
/run/*
/build
/eclipse
/.gradle
*.iml
*.ipr
*.iws
/.metadata
/.settings
/classpath
/dep

TechReborn.iws
TechReborn.ipr
Thumbs.db
changelog.txt
*.log
*.launch
*.project
*.classpath
.idea/*
java_pid2412.hprof
/asmTemp/
/logs/
/classes/
